body {
    height: 100%;
    margin: 0;
    padding: 2rem;
}
#map-container {
    height: 500px;
    width: 75%;
    margin: 0 auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 3px 3px 0 rgba(31,34,50,1);
    border-radius: 2px;
    min-width: 130px;
    min-height: 65px;
}
.info h1 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #1F2232;
}

.info p {
    margin: 0;
    padding: 3px 0;
}

.map__info-country-name {
    font-weight: 700;
}